# iQua credentials for test_websocket.py
IQUA_USERNAME=user-name-here
IQUA_PASSWORD=password-here

# Use only one of the following two lines to specify the device serial number
IQUA_DEVICE_SERIAL=device-serial-here
IQUA_PRODUCT_SERIAL=product-serial-here


# Optional: override the default WebSocket base URL (leave blank to use default)
IQUA_WEBSOCKET_BASE=
